@model TourMVC.Models.TourChiTiet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Địa Điểm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTietThuTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTietThuTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiem.DiaDiemTen)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourTen)
        </dd class>
    </dl>
    
    <form asp-action="DeleteTourChiTiet">
        <input type="hidden" asp-for="ChiTietId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.TourId">Trở Lại</a>
    </form>
</div>
