@page
@model PresentationLayer.Pages.EmployeeModel
@{
}
<html>
<head>
    <link rel="icon" type="image/png" href="~/css/Table_Responsive_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/Table_Responsive_v1/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/Menu_scroll/menu_scroll.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Opennav/Opennav.css" />
    <link rel="stylesheet" href="~/css/Login_css.css" />
    <link rel="stylesheet" href="~/css/Employee/Employee.css" />
    <link rel="stylesheet" href="~/css/Css_tutao/css_tutao.css" />
    <script src="~/js/Employee_js/Employee.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   
    </head>
<body class="css_tutao_body" style="background-color:white">
    <div>
        <div style="float:left">
            @if (@Request.QueryString.HasValue == true)
            {
                var get = Request.QueryString.Value.Split('=');
                string loai = get[0];
                @if (loai.Equals("?id") == true)
                {
                    <h1>Danh sách công việc</h1>

                }
                @if (loai.Equals("?danhsachcongviec") == true)
                {
                    <h1>Công việc</h1>
                }
                @if (loai.Equals("?congviec") == true)
                {
                    <h1>Chi tiết công việc</h1>
                }
                @if (loai.Equals("?AddWorkList") == true)
                {
                    <h1>Thêm danh sách công việc</h1>
                }
                @if (loai.Equals("?AddWork") == true)
                {
                    <h1>Thêm công việc</h1>
                }
                @if (loai.Equals("?EditWorkList") == true)
                {
                    <h1>Sửa danh sách công việc</h1>
                }
                @if (loai.Equals("?EditWork") == true)
                {
                    <h1>Sửa công việc</h1>
                }
            }
        </div>
        <div style="float:right">
            <div style="float:left; height:25px;padding-top: 4px;">Chào mừng @Model.getSessionFullname()</div>
            <div style="float:left;"><form method="post"><input type="submit" id="submit_logout" name="submit_logout" value="Đăng xuất" /></form></div>
        </div>
    </div>
    
    
    <div class="css_tutao_body">
        @if (Model.getSessionFullname() == null)
        {
            Response.Redirect("/login");

        }

        <div>
            @*Hiển thị danh sách nhân viên*@
            <div id="" style="clear:both; width:100%;height:100%">
                <!-- Sidebar -->
                <div id="" style=" " class="css_cont_menu">
                    <div>
                        <div class="css_menu_tutao">
                            <a href="#" class="">
                                Danh sách nhân viên
                            </a>
                        </div>
                        @foreach (var item in Model.getAllEmployee())
                        {
                            <div class="css_menu_tutao">
                                <a href="/employee?id=@item.Id" style="width:100%;height:100%">@item.FullName</a>
                            </div>
                        }
                    </div>
                </div>


                <div style="float:left;margin-left:10px; width:80%;height:100%">

                    @if (@Request.QueryString.HasValue == true)
                    {
                        <div id="css_xemlist" class="css_xemlist" style=" margin-top:10px; width: 250px; height: 30px; background: #ded5f5; text-align: center; padding-top: 5px; border-radius: 15px; color: black;">
                            <a href="/employee?id=@Model.getSessionIdEmployee()">Xem danh sách của bạn </a>
                        </div>
                        var get = Request.QueryString.Value.Split('=');
                        string loai = get[0];
                        string id_get = get[1];
                        string id_role = Model.getSessionIdrole();
                        string id_employee = Model.getid_employee();
                        string id_worklist = Model.getid_worklist();
                        string id_work = Model.getid_work();
                        @if (id_role.Equals("1") || id_role.Equals("2") && id_employee.Equals(Model.getSessionIdEmployee()) == true)
                        {@*Hiển thị các danh sách công việc*@
                        @if (loai.Equals("?id") == true)
                        {
                            <div style="text-align:center">
                                <div style="" class="css_addworklist">
                                    <a href="/employee?Addworklist=@id_get">Thêm danh sách công việc</a>
                                </div>

                            </div>
                            <div style="clear:both;">
                                @foreach (var item in Model.getAllByIdEmployee())
                                {
                                    <div style="padding-top:3px;height:100px; margin-top:5px;background: #F2F2F2 ">
                                        <a href="/employee?danhsachcongviec=@item.Id">
                                            <div style="width:80%;height:100px;  color:black; float:left">
                                                <div>Tên danh sách: @item.WorkListName</div>
                                                @if (item.IdWorkListStatus == 1)
                                                {
                                                    <div>Trạng thái: Public</div>
                                                }
                                                @if (item.IdWorkListStatus == 2)
                                                {
                                                    <div>Trạng thái: Private</div>
                                                }

                                            </div>

                                        </a>
                                        <div style="float:right; width:20%; text-align:center">
                                            <div style="" class="css_deleteworklist">
                                                <form method="post" name="delete_dscongviec">
                                                    <input type="hidden" id="id_delete" name="id_delete" value="@item.Id" />
                                                    <input style="border:0px" type="submit" class="css_btndeleteworklist" onclick=" return confirm('Bạn có thật sự muốn xóa danh sách @item.WorkListName không ?')" id="danhsachcongviec_delete" name="danhsachcongviec_delete" value="Xóa" />
                                                </form>
                                            </div>
                                            <div style="" class="css_btneditworklist">
                                                <a style="width:100%;height:100%" href="/employee?Editworklist=@item.Id">Sửa</a>
                                            </div>



                                        </div>
                                    </div>

                                }
                            </div>
                        }
                        @if (loai.Equals("?danhsachcongviec"))
                        {@*Hiển thị các nhân viên chưa có trong danh sách*@

                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <table style="border:1px solid black;width:80%;text-align:center">
                                <tr style="border:1px solid black">
                                    <th style="text-align:center; border:1px solid black;width:80%">Tên Nhân Viên</th>
                                    <th style="text-align:center; border:1px solid black;width:20%">Chọn</th>
                                </tr>
                                @foreach (var item1 in Model.getNotInWorkList(id_get))
                                {
                                    <tr style="border:1px solid black">
                                        <td style="text-align:center; border:1px solid black;width:80%">@item1.FullName</td>
                                        <td style="text-align:center; border:1px solid black;width:20%">
                                            <div>
                                                <form method="post">
                                                    <input type="hidden" id="id_add_1_employee" name="id_add_1_employee" value="@item1.Id" />
                                                    <input type="hidden" id="id_add_1_worklist" name="id_add_1_worklist" value="@id_worklist" />
                                                    <input class="css_btn" type="submit" id="submit_add_1_employee" name="submit_add_1_employee" value="Thêm" />
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        @*Hiển thị danh sách nhân viên có tham gia trong danh sách*@
                        <div id="mySidenavWorkListEmployee" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNavWorkListEmployee()">&times;</a>
                            <table style="border:1px solid black;width:80%;text-align:center">
                                <tr style="border:1px solid black">
                                    <th style="text-align:center; border:1px solid black;width:80%">Tên nhân viên</th>
                                    <th style="text-align:center; border:1px solid black;width:20%"></th>
                                </tr>
                                @foreach (var item1 in Model.getEmployeeByIdWorkList(id_get))
                                {
                                    <tr style="border:1px solid black">
                                        <td style="text-align:center; border:1px solid black;width:80%">@item1.FullName</td>
                                        <td style="text-align:center; border:1px solid black;width:20%">
                                            <div>
                                                <form method="post">
                                                    <input type="hidden" id="id_delete_1_employee" name="id_delete_1_employee" value="@item1.Id" />
                                                    <input type="hidden" id="id_delete_1_worklist" name="id_delete_1_worklist" value="@id_worklist" />
                                                    <input class="css_btn" type="submit" id="submit_delete_1_employee" name="submit_delete_1_employee" value="Xóa" />
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                        <div class="css_back">
                            <a href="/employee?id=@id_employee" > Trở lại </a>
                        </div>
                        <div style="margin-top:5px">
                            <div style="" class="css_addwork">
                                <a href="/employee?Addwork=@id_get">Thêm công việc</a>
                            </div>

                            <div style=" width:200px" class="css_addemployee" >
                                <button onclick="openNav()">Thêm người làm chung</button>
                            </div>
                            <div style="" class="css_viewemployee">

                                <button onclick="openNavWorkListEmployee()">Xóa người làm chung</button>

                            </div>
                        </div>
                        @*Hiển thị các công việc của 1 danh sách*@
                        <div style="clear:both">
                            <div>
                                <div style="height:auto">
                                    <div style="float: left; width: 47%; height: auto">
                                        <div>
                                            Cần làm:
                                        </div>
                                        @foreach (var item in Model.getAllByIdWorkList(id_get))
                                        {
                                            DateTime day1 = DateTime.Parse("" + item.StartDate);
                                            string dayOfWeek1 = day1.DayOfWeek + "";
                                            DateTime day2 = DateTime.Parse("" + item.EndDate);
                                            string dayOfWeek2 = day2.DayOfWeek + "";
                                            @if (item.IdWorkStatus == 1)
                                            {
                                                <div style="" class="css_workinworklist">
                                                    <div style="width:100%">
                                                        <a href="/employee?congviec=@item.Id">
                                                            <div style="width:100%;height:300px;">
                                                                <div>Tên công việc : @item.WorkName</div>
                                                                <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                <div>Ngày tạo : @item.DateCreated</div>
                                                               
                                                                <div>Danh sách người làm chung:</div>
                                                                <div>
                                                                    @foreach (var it in Model.getEmployeeByIdWork(item.Id+""))
                                                                    {
                                                                        <div style="float:left; margin-left:10px">
                                                                            @it.FullName
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>


                                                </div>

                                            }
                                        }

                                    </div>
                                    <div style="float: right; width: 47%; height: auto" >
                                        <div>
                                            Đang làm:
                                        </div>
                                        @foreach (var item in Model.getAllByIdWorkList(id_get))
                                        {
                                            DateTime day1 = DateTime.Parse("" + item.StartDate);
                                            string dayOfWeek1 = day1.DayOfWeek + "";
                                            DateTime day2 = DateTime.Parse("" + item.EndDate);
                                            string dayOfWeek2 = day2.DayOfWeek + "";
                                            @if (item.IdWorkStatus == 2)
                                            {
                                                <div style="" class="css_workinworklist">
                                                    <div style="width:100%">
                                                        <a href="/employee?congviec=@item.Id">
                                                            <div style="width:100%;height:300px;">
                                                                <div>Tên công việc : @item.WorkName</div>
                                                                <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                <div>Ngày tạo : @item.DateCreated</div>
                                                               
                                                                <div>Danh sách người làm chung:</div>
                                                                <div>
                                                                    @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                    {
                                                                        <div style="float:left; margin-left:10px">
                                                                            @it.FullName
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                                <div style="height:auto; clear:both">
                                    <div style="float: left; width: 47%; height: auto">
                                        <div>
                                            Đã làm:
                                        </div>
                                        @foreach (var item in Model.getAllByIdWorkList(id_get))
                                        {
                                            DateTime day1 = DateTime.Parse("" + item.StartDate);
                                            string dayOfWeek1 = day1.DayOfWeek + "";
                                            DateTime day2 = DateTime.Parse("" + item.EndDate);
                                            string dayOfWeek2 = day2.DayOfWeek + "";
                                            @if (item.IdWorkStatus == 3)
                                            {
                                                <div style="" class="css_workinworklist">
                                                    <div style="width:100%">
                                                        <a href="/employee?congviec=@item.Id">
                                                            <div style="width:100%;height:300px;">
                                                                <div>Tên công việc : @item.WorkName</div>
                                                                <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                <div>Ngày tạo : @item.DateCreated</div>
                                                                
                                                                <div>Danh sách người làm chung:</div>
                                                                <div>
                                                                    @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                    {
                                                                        <div style="float:left; margin-left:10px">
                                                                            @it.FullName
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>


                                                </div>
                                            }
                                        }
                                    </div>
                                    <div style="float: right; width: 47%; height: auto;"  >
                                        <div style="color:red">
                                            Trễ hạn:
                                        </div>
                                        @foreach (var item in Model.getAllByIdWorkList(id_get))
                                        {
                                            DateTime day1 = DateTime.Parse("" + item.StartDate);
                                            string dayOfWeek1 = day1.DayOfWeek + "";
                                            DateTime day2 = DateTime.Parse("" + item.EndDate);
                                            string dayOfWeek2 = day2.DayOfWeek + "";
                                            @if (item.IdWorkStatus == 4)
                                            {
                                                <div style="" class="css_workinworklist">
                                                    <div style="width:100%">
                                                        <a href="/employee?congviec=@item.Id">
                                                            <div style="width:100%;height:300px;">
                                                                <div>Tên công việc : @item.WorkName</div>
                                                                <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                <div>Ngày tạo : @item.DateCreated</div>
                                                                
                                                                <div>Danh sách người làm chung:</div>
                                                                <div>
                                                                    @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                    {
                                                                        <div style="float:left; margin-left:10px">
                                                                            @it.FullName
                                                                        </div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>


                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                        @if (loai.Equals("?congviec"))
                        {

                            var congviec = @Model.getWorkById(int.Parse(id_work));
                            string dayOfWeek1 = "";
                            string dayOfWeek2 = "";
                            if (congviec != null)
                            {
                                DateTime day1 = DateTime.Parse("" + congviec.StartDate);
                                dayOfWeek1 = day1.DayOfWeek + "";
                                DateTime day2 = DateTime.Parse("" + congviec.EndDate);
                                dayOfWeek2 = day2.DayOfWeek + "";



                                @*Hiển thị danh sách các nhân viên chưa tham gia công việc*@
                                <div id="mySidenavWork" class="sidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNavWork()">&times;</a>
                                    <table style="border:1px solid black;width:80%;text-align:center">
                                        <tr style="border:1px solid black">
                                            <th style="text-align:center; border:1px solid black;width:80%">Tên nhân viên</th>
                                            <th style="text-align:center; border:1px solid black;width:20%"></th>
                                        </tr>
                                        @foreach (var item1 in Model.getNotInWork(id_get))
                                        {
                                            <tr style="border:1px solid black">
                                                <td style="text-align:center; border:1px solid black;width:80%">@item1.FullName</td>
                                                <td style="text-align:center; border:1px solid black;width:20%">
                                                    <div>
                                                        <form method="post">
                                                            <input type="hidden" id="id_add_work_employee" name="id_add_work_employee" value="@item1.Id" />
                                                            <input type="hidden" id="id_add_work" name="id_add_work" value="@id_work" />
                                                            <input class="css_btn" type="submit" id="submit_add_work_employee" name="submit_add_work_employee" value="Thêm" />
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                                @*Hiển thị danh sách nhân viên đã tham gia công việc*@
                                <div id="mySidenavWorkEmployee" class="sidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNavWorkEmployee()">&times;</a>
                                    <table style="border:1px solid black;width:80%;text-align:center">
                                        <tr style="border:1px solid black">
                                            <th style="text-align:center; border:1px solid black;width:80%">Tên nhân viên</th>
                                            <th style="text-align:center; border:1px solid black;width:20%"></th>
                                        </tr>
                                        @foreach (var item1 in Model.getEmployeeByIdWork(id_get))
                                        {
                                            <tr style="border:1px solid black">
                                                <td style="text-align:center; border:1px solid black;width:80%">@item1.FullName</td>
                                                <td style="text-align:center; border:1px solid black;width:20%">
                                                    <div>
                                                        <form method="post">
                                                            <input type="hidden" id="id_delete_work_employee" name="id_delete_work_employee" value="@item1.Id" />
                                                            <input type="hidden" id="id_delete_work" name="id_delete_work" value="@id_work" />
                                                            <input class="css_btn" type="submit" id="submit_Delete_work_employee" name="submit_Delete_work_employee" value="Xóa" />
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                                @*Hiển thị chi tiết công việc*@
                                <div class="css_back"><a href="/employee?danhsachcongviec=@id_worklist">Trở lại</a></div>
                                <div style="width:100%;float:left; margin-top:10px" >
                                    <div style="" class="css_deletework">
                                        <form method="post" name="delete_congviec">
                                            <input type="hidden" id="id_delete_work" name="id_delete_work" value="@congviec.Id" />
                                            <input style="border:0px" type="submit" onclick=" return confirm('Bạn có thật sự muốn xóa công việc @congviec.WorkName không ?')" id="congviec_delete" name="congviec_delete" value="Xóa công việc" />
                                        </form>
                                    </div>
                                    <div style="margin-left:10px" class="css_btneditworklist">
                                        <a href="/employee?Editwork=@congviec.Id">Sửa</a>
                                    </div>
                                    <div style="width:200px" class="css_addemployee">

                                        <button onclick="openNavWork()">Thêm người làm chung</button>

                                    </div>
                                    <div style="" class="css_viewemployee">

                                        <button onclick="openNavWorkEmployee()">Xóa người làm chung</button>

                                    </div>
                                </div>

                                <div style="" class="css_workdetails">

                                    <div style="margin-top:5px">
                                        <div style="float:left;width:20%">Tên công việc :</div>
                                        <div style="float:left">@congviec.WorkName</div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Nội dung công việc :</div>
                                        <div style="float:left">@congviec.WorkContent</div>
                                    </div>
                                    @if (congviec.IdWorkStatus == 1)
                                    {
                                        <div style="margin-top: 5px; clear: both ">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Cần làm
                                            </div>
                                            <div style="clear:both">
                                                <div style="float:left;margin-top:5px;width:20%">Thay đổi trạng thái:</div>
                                                <div style="float:left;margin-top:5px">
                                                    <div style="" class="css_btndanglam">
                                                        <form method="post">
                                                            <input type="hidden" value="2" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đang làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btndalam">
                                                        <form method="post">
                                                            <input type="hidden" value="3" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đã làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btntrehan">
                                                        <form method="post">
                                                            <input type="hidden" value="4" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Trễ hạn" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 2)
                                    {
                                        <div style="margin-top: 5px; clear: both">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Đang làm
                                            </div>
                                            <div style="clear:both">
                                                <div style="float:left;margin-top:5px;width:20%">Thay đổi trạng thái:</div>
                                                <div style="float:left;margin-top:5px">
                                                    <div style="" class="css_btncanlam">
                                                        <form method="post">
                                                            <input type="hidden" value="1" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Cần làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btndalam">
                                                        <form method="post">
                                                            <input type="hidden" value="3" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đã làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btntrehan">
                                                        <form method="post">
                                                            <input type="hidden" value="4" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Trễ hạn" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 3)
                                    {
                                        <div style="margin-top: 5px; clear: both">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Đã làm
                                            </div>
                                            <div style="clear:both">
                                                <div style="float:left;margin-top:5px;width:20%">Thay đổi trạng thái:</div>
                                                <div style="float:left;margin-top:5px">
                                                    <div style="" class="css_btncanlam">
                                                        <form method="post">
                                                            <input type="hidden" value="1" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Cần làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btndanglam">
                                                        <form method="post">
                                                            <input type="hidden" value="2" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đang làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btntrehan">
                                                        <form method="post">
                                                            <input type="hidden" value="4" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Trễ hạn" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 4)
                                    {
                                        <div style="margin-top: 5px; clear: both">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Trễ hạn
                                            </div>
                                            <div style="clear:both">
                                                <div style="float:left;margin-top:5px;width:20%">Thay đổi trạng thái:</div>
                                                <div style="float:left;margin-top:5px">
                                                    <div style="" class="css_btncanlam">
                                                        <form method="post">
                                                            <input type="hidden" value="1" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Cần làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btndanglam">
                                                        <form method="post">
                                                            <input type="hidden" value="2" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đang làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                    <div style="" class="css_btndalam">
                                                        <form method="post">
                                                            <input type="hidden" value="3" id="editstatus_id" name="editstatus_id" />
                                                            <input type="hidden" value="@congviec.Id" id="editstatus_idwork" name="editstatus_idwork" />
                                                            <input style="border:0px" type="submit" value="Đã làm" id="submit_editstatus" name="submit_editstatus" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày bắt đầu :</div>
                                        <div style="float:left">@congviec.StartDate &#40; @dayOfWeek1 &#41;</div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày kết thúc :</div>
                                        <div style="float:left">@congviec.EndDate &#40; @dayOfWeek2 &#41;</div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày tạo :</div>
                                        <div style="float:left">@congviec.DateCreated</div>
                                    </div>
                                   
                                    <div style="clear:both">Danh sách người làm chung:</div>
                                    <div>
                                        @foreach (var it in Model.getEmployeeByIdWork(congviec.Id + ""))
                                        {
                                            <div style="float:left; margin-left:10px">
                                                @it.FullName
                                            </div>
                                        }

                                    </div>
                                </div>

                                <div style="clear:both">
                                    <h1> Bình luận</h1>
                                    <div>
                                        <form method="post">
                                            <div class="group" style="float:left">
                                                <div style="float:left"><label for="Comment" class="label">Bình luận:</label></div>
                                                <div style="float:left"><input id="Add_Comment" type="text" class="input" name="Add_Comment" placeholder="Comment..."></div>
                                            </div>
                                            <div style="float:left">
                                                <div style="" class="css_send">
                                                    <input type="hidden" value="@Model.getSessionIdEmployee()" id="id_cmt_employee" name="id_cmt_employee" />
                                                    <input type="hidden" value="@id_work" id="add_cmt_idwork" name="add_cmt_idwork" />
                                                    <input type="hidden" value="0" id="add_cmt_idcmt" name="add_cmt_idcmt" />
                                                    <input type="submit" style="border:0px" value="Gửi" id="submit_comment" name="submit_comment" />
                                                </div>
                                                <div style="" id="close_edit_comment" class="css_close">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div style="width:100%;height:200px;overflow:auto">
                                        @foreach (var item in Model.getAllCommentByIdWork(id_get))
                                        {
                                            var employee = Model.getEmployeeById(item.IdEmployee + "");
                                            var id_cmt = item.Id;
                                            var edit_comment = item.CommentContent;
                                            <div style="clear:both">
                                                <div style="float:left">
                                                    @employee.FullName :
                                                </div>
                                                <div style="float:left">
                                                    @item.CommentContent
                                                </div>
                                                @if (item.IdEmployee == int.Parse(Model.getSessionIdEmployee()))
                                                {
                                                    <div style="clear:both; margin-top:5px">
                                                        <div style="float:left">
                                                            <form method="post">
                                                                <input type="hidden" value="@item.Id" id="delete_cmt_idcmt" name="delete_cmt_idcmt" />
                                                                <input type="submit" style="border:0px" value="Xóa" id="delete_comment" name="delete_comment" style="background:white" />
                                                            </form>
                                                        </div>
                                                        <div style="float:left; margin-left:10px">


                                                            <input type="hidden" id="hidden_edit_comment" name="hidden_edit_comment" value="@item.CommentContent" />
                                                            <button id="edit_comment" name="edit_comment" value="@item.Id" onclick="btncomment('@item.Id', '@item.CommentContent')">Sửa </button>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        }
                                    </div>

                                </div>
                            }

                        }

                    }
                        @if (id_role.Equals("2") && id_employee.Equals(Model.getSessionIdEmployee()) == false)
                        {
                            @if (loai.Equals("?id") == true)
                            {

                                <div style="clear:both;margin-top: 10px;">
                                    @foreach (var item in Model.getPublicEmployee())
                                    {
                                        <div style=" background: #F2F2F2;padding-top:5px;height:100px">
                                            <a href="/employee?danhsachcongviec=@item.Id">
                                                <div style="width:100%;height:100px;  color:black">
                                                    <div>Tên danh sách: @item.WorkListName</div>
                                                    <div>Trạng thái: Public</div>
                                                </div>

                                            </a>
                                        </div>

                                    }
                                </div>
                            }
                            @if (loai.Equals("?danhsachcongviec"))
                            {<div class="css_back">
                                    <a href="/employee?id=@id_employee"> Trở lại </a>
                                </div>

                                <div style="clear:both">
                                    <div>
                                        <div style="height:auto">
                                            <div style="float:left;width:47%;height:auto">
                                                <div>
                                                    Cần làm:
                                                </div>
                                                @foreach (var item in Model.getAllByIdWorkList(id_get))
                                                {
                                                    DateTime day1 = DateTime.Parse("" + item.StartDate);
                                                    string dayOfWeek1 = day1.DayOfWeek + "";
                                                    DateTime day2 = DateTime.Parse("" + item.EndDate);
                                                    string dayOfWeek2 = day2.DayOfWeek + "";
                                                    @if (item.IdWorkStatus == 1)
                                                    {
                                                        <div style="padding-top:10px;margin-top:5px;width: 100%;background: #F2F2F2;color: black; " >
                                                            <a href="/employee?congviec=@item.Id">
                                                                <div style="width:100%;height:300px;">
                                                                    <div>Tên công việc : @item.WorkName</div>
                                                                    <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                    <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                    <div>Ngày tạo : @item.DateCreated</div>
                                                                    
                                                                    <div style="clear:both">Danh sách người làm chung:</div>
                                                                    <div>
                                                                        @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                        {
                                                                            <div style="float:left; margin-left:10px">
                                                                                @it.FullName
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                            <div style="float:right;width:47%;height:auto">
                                                <div>
                                                    Đang làm:
                                                </div>
                                                @foreach (var item in Model.getAllByIdWorkList(id_get))
                                                {
                                                    DateTime day1 = DateTime.Parse("" + item.StartDate);
                                                    string dayOfWeek1 = day1.DayOfWeek + "";
                                                    DateTime day2 = DateTime.Parse("" + item.EndDate);
                                                    string dayOfWeek2 = day2.DayOfWeek + "";
                                                    @if (item.IdWorkStatus == 2)
                                                    {
                                                        <div style="padding-top:10px;margin-top:5px;width: 100%;background: #F2F2F2;color: black; ">
                                                            <a href="/employee?congviec=@item.Id">
                                                                <div style="width:100%;height:300px;">
                                                                    <div>Tên công việc : @item.WorkName</div>
                                                                    <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                    <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                    <div>Ngày tạo : @item.DateCreated</div>
                                                                    
                                                                    <div style="clear:both">Danh sách người làm chung:</div>
                                                                    <div>
                                                                        @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                        {
                                                                            <div style="float:left; margin-left:10px">
                                                                                @it.FullName
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div style="height:auto; clear:both">
                                            <div style="float:left;width:47%;height:auto">
                                                <div>
                                                    Đã làm:
                                                </div>
                                                @foreach (var item in Model.getAllByIdWorkList(id_get))
                                                {
                                                    DateTime day1 = DateTime.Parse("" + item.StartDate);
                                                    string dayOfWeek1 = day1.DayOfWeek + "";
                                                    DateTime day2 = DateTime.Parse("" + item.EndDate);
                                                    string dayOfWeek2 = day2.DayOfWeek + "";
                                                    @if (item.IdWorkStatus == 3)
                                                    {
                                                        <div style="padding-top:10px;margin-top:5px;width: 100%;background: #F2F2F2;color: black; ">
                                                            <a href="/employee?congviec=@item.Id">
                                                                <div style="width:100%;height:300px;">
                                                                    <div>Tên công việc : @item.WorkName</div>
                                                                    <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                    <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                    <div>Ngày tạo : @item.DateCreated</div>
                                                                    
                                                                    <div style="clear:both">Danh sách người làm chung:</div>
                                                                    <div>
                                                                        @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                        {
                                                                            <div style="float:left; margin-left:10px">
                                                                                @it.FullName
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div style="float:right;width:47%;height:auto; ">
                                                <div style="color:red">
                                                    Trễ hạn:
                                                </div>
                                                @foreach (var item in Model.getAllByIdWorkList(id_get))
                                                {
                                                    DateTime day1 = DateTime.Parse("" + item.StartDate);
                                                    string dayOfWeek1 = day1.DayOfWeek + "";
                                                    DateTime day2 = DateTime.Parse("" + item.EndDate);
                                                    string dayOfWeek2 = day2.DayOfWeek + "";
                                                    @if (item.IdWorkStatus == 4)
                                                    {
                                                        <div style="padding-top:10px;margin-top:5px;width: 100%;background: #F2F2F2;color: black; ">
                                                            <a href="/employee?congviec=@item.Id">
                                                                <div style="width:100%;height:300px;">
                                                                    <div>Tên công việc : @item.WorkName</div>
                                                                    <div>Ngày bắt đầu : @item.StartDate &#40; @dayOfWeek1 &#41;</div>
                                                                    <div>Ngày kết thúc:@item.EndDate &#40; @dayOfWeek2 &#41;</div>
                                                                    <div>Ngày tạo : @item.DateCreated</div>
                                                                    
                                                                    <div style="clear:both">Danh sách người làm chung:</div>
                                                                    <div>
                                                                        @foreach (var it in Model.getEmployeeByIdWork(item.Id + ""))
                                                                        {
                                                                            <div style="float:left; margin-left:10px">
                                                                                @it.FullName
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            @if (loai.Equals("?congviec"))
                            {
                                var congviec = Model.getWorkById(int.Parse(id_get));
                                DateTime day1 = DateTime.Parse("" + congviec.StartDate);
                                string dayOfWeek1 = day1.DayOfWeek + "";
                                DateTime day2 = DateTime.Parse("" + congviec.EndDate);
                                string dayOfWeek2 = day2.DayOfWeek + "";
                                <div class="css_back"><a href="/employee?danhsachcongviec=@id_worklist">Trở lại</a></div>


                                <div style="width:80%;height:300px; text-align:left;background:#f2f2f2;" >
                                    <h2>Chi tiết công việc:</h2>
                                    <div style="margin-top:5px">
                                        <div style="float:left;width:20%">Tên công việc :</div>
                                        <div style="float:left">@congviec.WorkName</div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Nội dung công việc :</div>
                                        <div style="float:left">@congviec.WorkContent</div>
                                    </div>
                                    @if (congviec.IdWorkStatus == 1)
                                    {
                                        <div style="margin:top:5px;clear:both">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Cần làm
                                            </div>

                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 2)
                                    {
                                        <div style="margin:top:5px">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Đang làm
                                            </div>

                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 3)
                                    {
                                        <div style="margin:top:5px">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Đã làm
                                            </div>

                                        </div>
                                    }
                                    @if (congviec.IdWorkStatus == 4)
                                    {
                                        <div style="margin:top:5px">
                                            <div style="float:left;width:20%;margin-top:5px">
                                                Trạng thái:
                                            </div>
                                            <div style="float:left;margin-top:5px">
                                                Trễ hạn
                                            </div>

                                        </div>
                                    }
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày bắt đầu :</div>
                                        <div style="float:left">@congviec.StartDate &#40; @dayOfWeek1 &#41;</div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày kết thúc :</div>
                                        <div style="float:left">@congviec.EndDate &#40; @dayOfWeek2 &#41; </div>
                                    </div>
                                    <div style="margin-top:5px;clear:both">
                                        <div style="float:left;width:20%">Ngày tạo :</div>
                                        <div style="float:left">@congviec.DateCreated</div>
                                    </div>
                                    
                                    <div style="clear:both">Danh sách người làm chung:</div>
                                    <div>
                                        @foreach (var it in Model.getEmployeeByIdWork(congviec.Id + ""))
                                        {
                                            <div style="float:left; margin-left:10px">
                                                @it.FullName
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div style="clear:both">
                                    <h1>Bình luận:</h1>
                                    <div style="width:100%;height:200px;overflow:auto">
                                        @foreach (var item in Model.getAllCommentByIdWork(id_get))
                                        {
                                            var employee = Model.getEmployeeById(item.IdEmployee + "");
                                            <div style="clear:both">
                                                <div style="float:left">
                                                    @employee.FullName :
                                                </div>
                                                <div style="float:left">
                                                    @item.CommentContent
                                                </div>


                                            </div>
                                        }
                                    </div>

                                </div>


                            }

                        }






                        @if (loai.Equals("?Addworklist"))
                        {
                            <div class="css_back">
                                <a href="/employee?id=@id_employee"> Trở lại </a>
                            </div>
                            
                            <form method="post">
                                <div>
                                    <div>
                                        <div>

                                            <div>
                                                <div>

                                                    <div class="group">
                                                        <label for="WorkListName" class="label">Tên danh sách</label>
                                                        <input id="Add_WorkListName" type="text" class="input" placeholder="Tên danh sách" name="Add_WorkListName">
                                                    </div>
                                                    <div class="group">
                                                        <div><label for="WorkListStatus" class="label">Trạng thái</label></div>
                                                        <div>
                                                            <select id="Add_WorkListStatus" name="Add_WorkListStatus">
                                                                <option value="1">Public</option>
                                                                <option value="2">Private</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="group">
                                                        <label><input type="hidden" id="add_id_employee" name="add_id_employee" value="@id_employee" /></label>
                                                        <input type="submit" name="Add_WorkList" id="Add_WorkList" class="css_btn" value="Thêm danh sách">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        }

                        @if (loai.Equals("?Editworklist"))
                        {
                            var edit_workList = Model.getById(int.Parse(id_get));
                            var createddate = Convert.ToDateTime(@edit_workList.DateCreated).ToString("yyyy-MM-dd");
                            <div class="css_back">
                                <a href="/employee?id=@id_employee"> Trở lại </a>
                            </div>


                            
                            <form method="post">
                                <div>

                                    <div>
                                        <div>

                                            <div>
                                                <div>
                                                    <div class="group">
                                                        <label for="WorkListName" class="label">Tên danh sách</label>
                                                        <input id="Edit_WorkListName" type="text" class="input" name="Edit_WorkListName" value="@edit_workList.WorkListName">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkListName" class="label">Trạng thái</label>

                                                        @if (edit_workList.IdWorkListStatus == 1)
                                                        {
                                                            <select id="Edit_WorkListStatus" name="Edit_WorkListStatus">
                                                                <option value="1">Public</option>
                                                                <option value="2">Private</option>
                                                            </select>
                                                        }
                                                        @if (edit_workList.IdWorkListStatus == 2)
                                                        {
                                                            <select id="Edit_WorkListStatus" name="Edit_WorkListStatus">
                                                                <option value="2">Private</option>
                                                                <option value="1">Public</option>
                                                            </select>
                                                        }
                                                    </div>



                                                    <label><input type="hidden" id="edit_id_worklist" name="edit_id_worklist" value="@edit_workList.Id" /></label>
                                                    <label><input type="hidden" id="edit_id_employee" name="edit_id_employee" value="@id_employee" /></label>
                                                    <div class="group">
                                                        <input type="submit" name="Edit_WorkList" id="Edit_WorkList" class="css_btn" value="Sửa danh sách công việc" />
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                        @if (loai.Equals("?Addwork"))
                        {<div class="css_back">
                                <a href="/employee?danhsachcongviec=@id_worklist"> Trở lại </a>
                            </div>
                            DateTime aDateTime = DateTime.Now;
                            var date = Convert.ToDateTime(aDateTime).ToString("yyyy-MM-dd");

                            <form method="post">
                                <div>
                                    <div>
                                        <div>

                                            <div>
                                                <div>
                                                    @*public int? IdWorkList { get; set; }
                                                        public int? IdWorkStatus { get; set; }
                                                        public string WorkContent { get; set; }
                                                        public string WorkName { get; set; }
                                                        public DateTime? DateCreated { get; set; }
                                                        public DateTime? StartDate { get; set; }
                                                        public DateTime? EndDate { get; set; }*@
                                                    <div class="group">
                                                        <label for="WorkName" class="label">Tên công việc</label>
                                                        <input id="Add_WorkName" placeholder="Nhập tên công việc..." type="text" class="input" name="Add_WorkName">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkContent" class="label">Nội dung công việc</label>
                                                        <input id="Add_WorkContent" placeholder="Nhập nội dung công việc..." type="text" class="input" name="Add_WorkContent">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkStartDate" class="label">Ngày bắt đầu</label>
                                                        <input id="Add_WorkStartDate" type="date" class="input" value="@date" name="Add_WorkStartDate">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkEndDate" class="label">Ngày kết thúc</label>
                                                        <input id="Add_WorkEndDate" type="date" class="input" value="@date" name="Add_WorkEndDate">
                                                    </div>

                                                    <div class="group">
                                                        <label><input type="hidden" id="addwork_id_worklist" name="addwork_id_worklist" value="@id_worklist" /></label>
                                                        <label><input type="hidden" id="addwork_id_employee" name="addwork_id_employee" value="@id_employee" /></label>
                                                        <input type="submit" name="Add_Work" id="Add_Work" class="css_btn" value="Thêm công việc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        }
                        @if (loai.Equals("?Editwork"))
                        {
                            var congviec = Model.getWorkById(int.Parse(id_get));
                            var createddate1 = Convert.ToDateTime(congviec.StartDate).ToString("yyyy-MM-dd");
                            var createddate2 = Convert.ToDateTime(congviec.EndDate).ToString("yyyy-MM-dd");
                            <div class="css_back">
                                <a href="/employee?congviec=@id_work"> Trở lại </a>
                            </div>


                            
                            <form method="post">
                                <div>
                                    <div>
                                        <div>

                                            <div>
                                                <div>
                                                    @*public int? IdWorkList { get; set; }
                                                        public int? IdWorkStatus { get; set; }
                                                        public string WorkContent { get; set; }
                                                        public string WorkName { get; set; }
                                                        public DateTime? DateCreated { get; set; }
                                                        public DateTime? StartDate { get; set; }
                                                        public DateTime? EndDate { get; set; }*@
                                                    <div class="group">
                                                        <label for="WorkName" class="label">Tên công việc</label>
                                                        <input id="Edit_WorkName" type="text" class="input" name="Edit_WorkName" value="@congviec.WorkName">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkContent" class="label">Nội dung công việc</label>
                                                        <input id="Edit_WorkContent" type="text" class="input" name="Edit_WorkContent" value="@congviec.WorkContent">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkStatus" class="label">Trạng thái</label>
                                                        @if (congviec.IdWorkStatus == 1)
                                                        {
                                                            <input id="Edit_WorkStatus" disabled="disabled" type="text" class="input" name="Edit_WorkStatus" value="Cần làm">
                                                        }
                                                        @if (congviec.IdWorkStatus == 2)
                                                        {
                                                            <input id="Edit_WorkStatus" disabled="disabled" type="text" class="input" name="Edit_WorkStatus" value="Đang làm">
                                                        }
                                                        @if (congviec.IdWorkStatus == 3)
                                                        {
                                                            <input id="Edit_WorkStatus" disabled="disabled" type="text" class="input" name="Edit_WorkStatus" value="Đã làm">
                                                        }
                                                        @if (congviec.IdWorkStatus == 4)
                                                        {
                                                            <input id="Edit_WorkStatus" disabled="disabled" type="text" class="input" name="Edit_WorkStatus" value="Trễ hạn">
                                                        }
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkStartDate" class="label">Ngày bắt đầu</label>
                                                        <input id="Edit_WorkStartDate" type="date" class="input" name="Edit_WorkStartDate" value="@createddate1">
                                                    </div>
                                                    <div class="group">
                                                        <label for="WorkEndDate" class="label">Ngày kết thúc</label>
                                                        <input id="Edit_WorkEndDate" type="date" class="input" name="Edit_WorkEndDate" value="@createddate2">
                                                    </div>

                                                    <div class="group">
                                                        <label><input type="hidden" id="editwork_id_work" name="editwork_id_work" value="@congviec.Id" /></label>
                                                        <label><input type="hidden" id="editwork_id_employee" name="editwork_id_employee" value="@id_employee" /></label>
                                                        <label><input type="hidden" id="id_Edit_WorkStatus" name="id_Edit_WorkStatus" value="@congviec.IdWorkStatus" /></label>
                                                        <label><input type="hidden" id="id_Edit_WorkList" name="id_Edit_WorkList" value="@congviec.IdWorkList" /></label>
                                                        <input type="submit" name="Edit_Work" id="Edit_Work" class="css_btn" value="Sửa công việc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        }


                    }

                </div>
            </div>




        </div>
        <!-- /#page-content-wrapper -->
        <!-- /#wrapper -->




    </div>
</body>
<script src="~/css/Table_Responsive_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/vendor/bootstrap/js/popper.js"></script>
<script src="~/css/Table_Responsive_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/css/Table_Responsive_v1/js/main.js"></script>
<script src="~/js/Menu_scroll/menu_scroll.js"></script>
<script src="~/js/Opennav/Opennav.js"></script>

</html>