@model IEnumerable<TourMVC.Models.TourChiTiet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sách Chi Tiết Tour</h1>

<p>
    <a asp-action="Create">Thêm Chi Tiết Tour Mới</a>
</p>
@using (Html.BeginForm("Index", "TourChiTiets", FormMethod.Get))
{
    <p>
        Loại tìm kiếm:
        <select id="classify" name="classify">
            <option>Tên địa điểm</option>
        </select>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietThuTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTietThuTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem.DiaDiemTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChiTietId">Chỉnh Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ChiTietId">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ChiTietId">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;
    int PageNumber = ViewBag.PageNumber;
    <div class="pagination" style="float:left">
        @if (PageNumber > 1)
        {
            @Html.ActionLink("<<<", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber - 1 })
        }
        <label>@PageNumber</label>
        @if (PageNumber != totalPages)
        {
            @Html.ActionLink(">>>", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber + 1 })
        }
    </div>

}