@model TourMVC.Models.TourNhanVien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVienTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienSoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVienSoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVienEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienNgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVienNgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NhanVienId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Về</a>
    </form>
</div>
