@model IEnumerable<TourMVC.Models.TourNhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienSoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienNgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienSoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienNgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhanVienId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NhanVienId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NhanVienId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
