@model IEnumerable<TourMVC.Models.DoanNhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách đoàn nhân viên</h1>
@using (Html.BeginForm("Index", "DoanNhanViens", FormMethod.Get))
{
    <p>

        Classify:
        <select id="classify" name="classify">
            <option>Tên đoàn</option>
            <option>Nhiệm vụ nhân viên</option>
            <option>Tên nhân viên</option>
        </select>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienNhiemVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVienNhiemVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doan.DoanChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.NhanVienTen)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoanNhanVienId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoanNhanVienId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoanNhanVienId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;
    int PageNumber = ViewBag.PageNumber;
    <div class="pagination" style="float:left">
        @if (totalPages != 0)
        {
            @if (PageNumber > 1)
            {
                @Html.ActionLink("<<<", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber - 1 })
            }
            <label>@PageNumber</label>
            @if (PageNumber != totalPages)
            {
                @Html.ActionLink(">>>", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber + 1 })
            }
        }

    </div>

}