@model TourMVC.Models.GiaTourHienTai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Giá Tour Hiện Tại</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia.GiaSoTien)
        </dd>
        <dt class="col-sm-2">
            Giá Từ Ngày
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia.GiaTuNgay)
        </dd>
        <dt class="col-sm-2">
            Giá Đến Ngày
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia.GiaDenNgay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TourId">Chỉnh Sửa</a> |
    <a asp-action="Index">Trở Về</a>
</div>
