@model TourMVC.Models.TourLoaiChiPhi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TourLoaiChiPhi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiChiPhiTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiChiPhiTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiChiPhiMoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiChiPhiMoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoaiChiPhiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
