@model TourMVC.Models.TourDoan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Đoàn Du Lịch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanChiTiet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanChiTiet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanNgayDi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanNgayDi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanNgayVe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanNgayVe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanGiaTour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanGiaTour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DoanId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Về</a>
    </form>
</div>
