@model TourMVC.Models.TourDoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Đoàn Du Lịch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanChiTiet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanChiTiet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanNgayDi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanNgayDi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanNgayVe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanNgayVe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoanGiaTour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoanGiaTour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class="col-sm-2">
            Danh Sách Khách Hàng
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Họ Và Tên
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Ngày Tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DoanKhachHang)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.KhachHangTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.KhachHangSoDienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.KhachHangEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a asp-action="DetailsKhachHang" asp-route-id="@item.KhachHang.KhachHangId">Chi Tiết</a> |
                                <a asp-action="DeleteKhachHang" asp-route-id="@item.DoanKhachHangId">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="AddKhachHang" asp-route-id="@Model.DoanId">Thêm Khách Hàng</a>
        </dd>
        <dt class="col-sm-2">
            Danh Sách Nhân Viên
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Họ Và Tên
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Nhiệm Vụ
                        </th>
                        <th>
                            Ngày Tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DoanNhanVien)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.NhanVienTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.NhanVienSoDienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.NhanVienEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVienNhiemVu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a asp-action="EditNhanVien" asp-route-id="@item.DoanNhanVienId">Chỉnh Sửa Nhiệm Vụ</a> |
                                <a asp-action="DetailsNhanVien" asp-route-id="@item.NhanVien.NhanVienId">Chi Tiết</a> |
                                <a asp-action="DeleteNhanVien" asp-route-id="@item.DoanNhanVienId">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="AddNhanVien" asp-route-id="@Model.DoanId">Thêm Nhân Viên</a>
        </dd>
        <dt class="col-sm-2">
            Danh Sách Chi Phí
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Loại Chi Phí
                        </th>
                        <th>
                            Chi Phí
                        </th>
                        <th>
                            Ngày Tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TourChiPhiChiTiet)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiChiPhi.LoaiChiPhiTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChiPhi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a asp-action="EditNhanVien" asp-route-id="">Chỉnh Sửa Chi Phí</a> |
                                <a asp-action="DetailsNhanVien" asp-route-id="">Chi Tiết</a> |
                                <a asp-action="DeleteNhanVien" asp-route-id="">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="AddChiPhi" asp-route-id="@Model.DoanId">Thêm Chi Phí</a>
        </dd>
        <dt class="col-sm-2">
            Tổng Chi Phí
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TongChiPhi
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoanId">Chỉnh Sửa</a> |
    <a asp-action="Index">Trở Về</a>
</div>

