@model TourMVC.Models.TourKhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangSoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangSoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangNgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangNgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangChungMinhNhanDan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangChungMinhNhanDan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@ViewBag.DoanId">Trở Về</a>
</div>
