@model IEnumerable<TourMVC.Models.TourDoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh Sách Đoàn Du Lịch</h1>
@using (Html.BeginForm("Index", "TourDoans", FormMethod.Get))
{
    <p>
        
        Loại tìm kiếm:
        <select id="classify" name="classify">
            <option>Tên đoàn</option>
            <option>Chi tiết đoàn</option>
            <option>Tên tour</option>
        </select>
        Nội dung: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    <a asp-action="Create">Thêm Đoàn Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoanTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanNgayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanNgayVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanGiaTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoanTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanNgayDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanNgayVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.TourTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanGiaTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoanId">Chỉnh Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.DoanId">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.DoanId">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;
    int PageNumber = ViewBag.PageNumber;
    <div class="pagination" style="float:left">
        @if (totalPages != 0)
        {
            @if (PageNumber > 1)
            {
                @Html.ActionLink("<<<", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber - 1 })
            }
            <label>@PageNumber</label>
            @if (PageNumber != totalPages)
            {
                @Html.ActionLink(">>>", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber + 1 })
            }
        }

    </div>

}