@model TourMVC.Models.TourGia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TourGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaSoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaSoTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTuNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTuNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaDenNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaDenNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.TourMoTa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GiaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
