@model IEnumerable<TourMVC.Models.ThongKeTour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Doanh Thu Tour</h1>

@using (Html.BeginForm("Index", "ThongKe", FormMethod.Get))
{
    <p>
        <input type="hidden" name="NgayBatDau" value="" />
        <input type="hidden" name="NgayKetThuc" value="" />
        Chọn tên Tour:
        <select id="SearchString" name="SearchString">
            @foreach (var item in ViewBag.tourDoanTenTour)
            {
                <option>@item.TourTen</option>
            }

        </select>
        <input type="submit" value="Xem" />
    </p>
}
@using (Html.BeginForm("Index", "ThongKe", FormMethod.Get))
{
    <p>
        <input type="hidden" name="SearchString" value="" />
        Ngày Bắt Đầu:
        <input type="date" id="NgayBatDau" name="NgayBatDau"/>
         Ngày Kết Thúc:
        <input type="date" id="NgayKetThuc" name="NgayKetThuc" />   
        <input type="submit" value="Lọc" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TourTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongSoDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongDoanhThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongChiPhi)
            </th>
            <th>
                Tổng Lợi Nhuận
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TourTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongSoDoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongDoanhThu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongChiPhi)
                </td>
                @{
                    var loiNhuan = item.TongDoanhThu - item.TongChiPhi;
                    if (loiNhuan <= 0)
                    {
                        <td style="color:red;">@loiNhuan</td>
                    }
                    else
                    {
                        <td>@loiNhuan</td>
                    }
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.TourId">Chi Tiết</a>
                </td>
            </tr>
        }
        <tr>
            <td style="color:red;">
                Tổng
            </td>
            <td style="color:red;">
                @ViewBag.TongSoDoan
            </td>
            <td style="color:red;">
                @ViewBag.TongDoanhThu
            </td>
            <td style="color:red;">
                @ViewBag.TongChiPhi
            </td>
            <td style="color:red;">
                @ViewBag.TongLoiNhuan
            </td>
        </tr>
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;
    int PageNumber = ViewBag.PageNumber;
    <div class="pagination" style="float:left">
        @if (totalPages != 0)
        {
            @if (PageNumber > 1)
            {
                @Html.ActionLink("<<<", "Index", new { searchString = ViewBag.searchString, NgayBatDau = ViewBag.NgayBatDau, NgayKetThuc = ViewBag.NgayKetThuc, PageNumber = PageNumber - 1 })
            }
            <label>@PageNumber</label>
            @if (PageNumber != totalPages)
            {
                @Html.ActionLink(">>>", "Index", new { searchString = ViewBag.searchString, NgayBatDau = ViewBag.NgayBatDau, NgayKetThuc = ViewBag.NgayKetThuc, PageNumber = PageNumber + 1 })
            }
        }

    </div>

}