@model IEnumerable<TourMVC.Models.TourKhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHangTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHangSoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHangEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHangNgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHangChungMinhNhanDan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHangTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHangSoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHangEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHangNgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHangChungMinhNhanDan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KhachHangId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KhachHangId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KhachHangId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
