@model TourMVC.Models.TourDiaDiem

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Địa Điểm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemThanhPho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemThanhPho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemMoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemMoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiaDiemId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Về</a>
    </form>
</div>
