@model TourMVC.Models.TourDiaDiem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Địa Điểm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemThanhPho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemThanhPho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemMoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemMoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class="col-sm-2">
            <label>Danh sách các tour</label>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên Tour
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Loại Tour
                        </th>
                 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TourChiTiet)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tour.TourTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tour.TourMoTa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tour.Loai.LoaiTen)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiaDiemId">Chỉnh Sửa</a> |
    <a asp-action="Index">Trở Về</a>
</div>
