@model TourMVC.Models.Tour

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourMoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourMoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loai.LoaiTen)
        </dd class>
    </dl>
    
    <form asp-action="DeleteTour">
        <input type="hidden" asp-for="TourId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.LoaiId">Trở Về</a>
    </form>
</div>
