@model TourMVC.Models.TourLoai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Loại Tour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiMoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiMoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class="col-sm-2">
            Các Tour
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Mô Tả
                        </th>
                        <th>
                            Ngày Tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tour)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TourTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TourMoTa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a asp-action="EditTour" asp-route-id="@item.TourId">Chỉnh Sửa</a> |
                                <a asp-action="DeleteTour" asp-route-id="@item.TourId">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoaiId">Chỉnh Sửa</a> |
    <a asp-action="Index">Trở Về</a>
</div>
