@model IEnumerable<TourMVC.Models.DoanKhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách đoàn khách hàng</h1>
@using (Html.BeginForm("Index", "DoanKhachHangs", FormMethod.Get))
{
    <p>
        Classify:
        <select id="classify" name="classify">
            <option>Tên đoàn</option>
            <option>Tên khách hàng</option>
        
        </select>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doan.DoanTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.KhachHangTen)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoanKhachHangId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoanKhachHangId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoanKhachHangId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;
    int PageNumber = ViewBag.PageNumber;
    <div class="pagination" style="float:left">
        @if (PageNumber > 1)
        {
            @Html.ActionLink("<<<", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber - 1 })
        }
        <label>@PageNumber</label>
        @if (PageNumber != totalPages)
        {
            @Html.ActionLink(">>>", "Index", new { searchString = ViewBag.searchString, classify = ViewBag.classify, PageNumber = PageNumber + 1 })
        }
    </div>

}